<?xml version="1.0"?>

<launch> 
	<!--Launching the Gazebo underwater world -->
	<include file="$(find uuv_gazebo_worlds)/launch/empty_underwater_world.launch"/>

	<!--Launching/Spawning the rexrov in the underwater simulation -->
	<include file="$(find uuv_gazebo)/launch/rexrov_demos/rexrov_wrench_control.launch" />

	<!--Running the note written in the assignment 3a) (control node)-->
	<node pkg="ris_lab_1" type="thruster_manager.py" name="thruster_manager" output="screen"/>
</launch>
